@model API_Frontend_2023.Models.EmployeeModel 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Employee", FormMethod.Post)) { 

             
     <table>
         <tr>
             <td>Name :</td>
             <td>@Html.TextBoxFor(x => x.name)</td>
         </tr>

         <tr>
             <td>City :</td>
             <td>@Html.TextBoxFor(x => x.city)</td>
         </tr>

         <tr>
             <td>Age :</td>
             <td>@Html.TextBoxFor(x => x.age)</td>
         </tr>

         <tr>
             <td></td>
             <td><input type="submit" value="Save" /></td>
         </tr>
     </table>

    


    }